
Generated template for the OrderSummary page.

See http://ionicframework.com/docs/v2/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar color="primary">
		<ion-title>OrderSummary</ion-title>
		<ion-buttons end>
			<button ion-button icon-only clear (click)="cancel()">
				<ion-icon md="md-close"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
	<ion-toolbar color="primary" style="padding-top: 0px;">
		<ion-grid style="padding-top: 0px;">
			<ion-row>
				<ion-col width-50>
					<ion-label stacked color="light" style="margin-top: 0px; margin-bottom: 3px;">Table No.</ion-label>
					<ion-input class="text-center" [(ngModel)]="tableNumber" style="background: #0a7369; color:#FFFFFF; font-size: 32px; border-radius: 10px;"></ion-input>
				</ion-col>		
				<ion-col width-50 class="text-center">
					<!-- <h6 color="light" >Waiting For (mins)</h6>
					<h1 color="light" style="margin-top: 10px;">{{totalWaitTime}}</h1> -->
				</ion-col>		
			</ion-row>
		</ion-grid>



	</ion-toolbar>

</ion-header>


<ion-content>
	<ion-card *ngFor="let order of orders" (click)="editOrder(order)">
		<ion-card-header style="padding-bottom: 0px;">
			<h1>{{order.food.title}}</h1>
		</ion-card-header>
		<ion-card-content>
			<ion-item style="padding-left: 0px;">
				<div item-left style="padding-top: 0px; vertical-align: text-top;" >
					<h5>To Go/ For Here: {{order.togo ? "To Go" : "For Here"}}</h5>
					<h5>Waiting Time: {{order.food.estimate_time}}</h5>
					<h5>price: {{order.food.price}}.-</h5>
					<h5 *ngFor="let topping of order.selected_toppings">{{topping.title}}: {{topping.optionTitle}}, {{topping.price}}.-</h5>
				</div>
				<div item-right style="text-align: right;">
					<div style="text-align: center;">
						<h4>amount: {{order.amount}}</h4>
						<h1>{{order.amount * order.price}}.-</h1>
					</div>
				</div>
			</ion-item>

		</ion-card-content>
	</ion-card>
</ion-content>

<ion-footer>
	<ion-grid>
		<ion-row>
			<ion-col style="text-align: center;">
				<h1 style="margin-top: 0px; margin-bottom: 0px;">
					Total : {{totalPrice}} Baht
				</h1>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col style="text-align: center;">
				<h6 style="margin-top: 0px; margin-bottom: 0px;">
					Wait for {{totalWaitTime}} minutes
				</h6>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<button block color="primary" ion-button (click)="openNewOrder()">add order</button>
			</ion-col>
			<ion-col>
				<button block color="green" ion-button (click)="createBill()">Send</button>	
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-footer>
