



<ion-header class="header">


  <ion-navbar  color="primary">
<!--     <button ion-button icon-left menuToggle>  
      <ion-icon md="md-menu"></ion-icon>
    </button> -->
    <ion-title>
      Order Status
    </ion-title>
  </ion-navbar>

  <ion-toolbar color="primary">
    <button color="light" ion-button outline block (click)="chooseCats()">{{chosenCatsTxt}}</button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- {{chosenCats|json}} -->
  <ion-item [hidden]="true">
    <ion-label>Select Category</ion-label>
    <ion-select (ionChange)="getOrderByFilter()" [(ngModel)]="chosenCats" #catsSelect multiple="true" okText="save" cancelText="cancel">
      <ion-option *ngFor="let cat of categories" [value]="cat">{{cat.title}}</ion-option>
    </ion-select>
  </ion-item>
  <!-- {{orders|json}} -->
  <ion-list>
    <ion-item style="padding-left: 0px;" *ngFor="let order of orders">
      <ion-grid style="margin-left: 8px;">

        <ion-row>
          <ion-col width-70>
            <h1>{{order.food.title}}</h1>
            <span style="font-size: small;">To Go/For Here: {{order.togo ? "To Go" : "For Here"}}|</span>
            <span style="font-size: small;">Amount: {{order.amount}}</span>
          </ion-col>
          <ion-col width-30 style="text-align: right;">
            <h3>{{order.bill.table_number.zone + '_' + order.bill.table_number.table}}</h3>
            <h2 style='font-weight: bold;' [hidden]="order.status != 'waiting'">Waiting</h2>
            <h2 style='font-weight: bold; color: #F8971D;' [hidden]="order.status != 'cooking'" color="doing">Cooking</h2>
            <h2 style='font-weight: bold; color: #45b822;' [hidden]="order.status != 'ready'" color="green">Ready</h2>
            <h2 style='font-weight: bold;' [hidden]="order.status != 'done'">Done in ... {{countdown}}</h2>
          </ion-col>
        </ion-row>
        <ion-row style="padding-left: 5px;">
          <span style="font-size: small;" *ngFor="let topping of order.selected_toppings">{{topping.title}}: {{topping.optionTitle}}|</span>
        </ion-row>
        <!-- <ion-row>
          <ion-col>
            <span *ngIf="order.selected_toppings.length == 0">none</span>
            <span style="font-size: small;" *ngFor="let topping of order.selected_toppings">{{topping.title}}: {{topping.optionTitle}}|</span>
            <span style="font-size: small;">{{order.togo ? "To Go" : "For Here"}}|</span>
            <span style="font-size: small;">{{order.amount}}</span>
          </ion-col>
        </ion-row> -->
      </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>
