modal-add-order {
	$item-md-divider-border-bottom: 0px;
	.left-out{
		padding-right: 0px;
		padding-left: 0px;
	}
	ion-grid{
		padding: 0px;
	}
	ion-row{
		padding-top: 8px;
	}

	ion-col{
		padding-left: 0px;
		padding-top: 0px;
	}
	.remove-margin-top{
		margin-top: 0px;
		margin-bottom: 8px;
		margin-right: 0px;
	}
	.remove-border-bottom{
		border-bottom: 0px;
	}

	// ion-item{
	// 	padding-left: 0px;
	// }
	// ion-list{
	// 	padding-left: 0px;
	// }
}
