<ion-card>
	<ion-card-header ion-item>
		<h1 item-left>
			Queue
		</h1>
		<button ion-button item-right (click)="showModalAddFood()">create food</button >
		<button item-right (click)="toggleReOrder()">order</button>
	</ion-card-header>

		<ion-card-content>
			<button ion-button>create food</button>
			<!-- <button ion-button>create food</button> -->
			<ion-list no-lines *ngIf="orders" [reorder]="isRe" (ionItemReorder)="reOrderQueues($event)">
				<div *ngFor="let order of orders"> 
					<button ion-item (click)="toggleDetails(order)">
						<!-- <p item-left>{{order.estTime}}</p> -->
						<h2 padding-left>{{order.food.title}}</h2>
						<!-- <p item-right>{{order.status}}</p> -->
					</button>
					<!-- <button ion-item (click)="toggleDetails(order)"> -->
					<!-- <p item-left>{{order.estTime}}</p> -->
					<!-- <h2 padding-left>{{order|json}}</h2> -->
					<!-- <p item-right>{{order.status}}</p> -->
					<!-- </button> -->
					<ion-card padding [hidden]="isToggle != order.food.title">
						<p>more...</p>
						<button >
							<ion-icon md="md-trash"></ion-icon>
						</button>
					</ion-card>
				</div>
			</ion-list>
			<p text-center *ngIf="!orders">Swipe down to refresh orders.</p>
		</ion-card-content>
	</ion-card>
